<launch>
    <node pkg="centralized_logic" type="logic_node.py" name="logic_node" output="screen"/>
    <node pkg="airsim_ros_pkgs" type="airsim_node.py" name="airsim_node" output="screen"/>
    <node pkg="tf" type="static_transform_publisher" name="enu_tf" args="0 0 0 1 0 0 0 /world /enu 100" />
    <node pkg="tf" type="static_transform_publisher" name="map_tf" args="0 0 0 0 0 0 1 /enu /map 100" />
    <node name="map_node" pkg="map_server" type="map_server" args="/home/matt/forklift_ws/map.yaml" respawn="false" />
    <node pkg="costmap_2d" type="costmap_2d_node" name="costmap_node" output="log">
        <rosparam file="planner-params/costmap_params.yaml" command="load" ns="costmap" />
        <rosparam file="planner-params/local_costmap_params.yaml" command="load"  />
        <rosparam file="planner-params/global_costmap_params.yaml" command="load"  />
    </node>
    <node pkg="motion_planner" type="pid_node.py" name="pid_node" />
    <node pkg="airsim_ros_pkgs" type="ackermann_converter_node.py" name="control_converter" />
    <node pkg="move_base" type="move_base" name="move_base" >
        <rosparam file="planner-params/costmap_params.yaml" command="load" ns="global_costmap" />
	<remap from="move_base_simple/goal" to="airsim/goal" />
        <rosparam file="planner-params/costmap_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="planner-params/local_costmap_params.yaml" command="load" />
        <rosparam file="planner-params/global_costmap_params.yaml" command="load" />
	<rosparam file="planner-params/global_planner_params.yaml" command="load" />
	<param name="global_planner" value="global_planner/GlobalPlanner" />
        <param name="planner_frequency" value="5.0" />
    </node>
</launch>
