<launch>
    <node pkg="airsim_ros_pkgs" type="airsim_node.py" name="airsim_node" />
    <node pkg="tf" type="static_transform_publisher" name="enu_tf" args="0 0 0 1 0 0 0 /world /enu 100" />
    <node pkg="costmap_2d" type="costmap_2d_node" name="costmap_node" output="log">
        <rosparam file="planner-params/costmap_params.yaml" command="load" ns="costmap" />
        <rosparam file="planner-params/local_costmap_params.yaml" command="load"  />
        <rosparam file="planner-params/global_costmap_params.yaml" command="load"  />

    </node>
    <node pkg="neural_network_planner" type="nn_node.py" name="nn_node" />
    <node pkg="airsim_ros_pkgs" type="ackermann_converter_node.py" name="control_converter" output="screen" />
    <node pkg="move_base" type="move_base" name="move_base" >
        <rosparam file="planner-params/costmap_params.yaml" command="load" ns="global_costmap" />
	<remap from="move_base_simple/goal" to="airsim/goal" />
        <rosparam file="planner-params/costmap_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="planner-params/local_costmap_params.yaml" command="load" />
        <rosparam file="planner-params/global_costmap_params.yaml" command="load" />
        <rosparam file="planner-params/traj_planner.yaml" command="load" />
	<rosparam file="planner-params/global_planner_params.yaml" command="load" />
	<param name="global_planner" value="global_planner/GlobalPlanner" />
        <param name="controller_frequency" value="10.0" />
        <param name="planner_frequency" value="10.0" />
    </node>
</launch>
